{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}

{%- block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/element-ui/theme-chalk/index.css">
<link rel="stylesheet" href="/static/css/style.css">
{%- endblock styles %}
<link rel="icon" href="{{ url_for('static', filename='fav.ico') }}" type="image/x-icon">
{% endblock %}

{% block content %}
<nav class="navbar navbar-default" style="display: none">
    <div class="container-fluid">
        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('login.index') }}">log in</a>
        {% else %}
        <a href="{{ url_for('login.logout') }}">log out</a>
        {% endif %}
    </div>
</nav>

<div class="container" style="margin-top: 100px">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/element-ui/index.js"></script>
<script type="text/javascript">var csrftoken = "{{ csrf_token() }}"</script>
{% endblock %}
