{% extends "base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block title %}Flasky - Login{% endblock %}

{% block page_content %}
    <h2 id="login-header" class="ui center aligned header login">Sign in to J.A.R.V.I.S</h2>
    <div id="message-container" style="text-align: center;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" style="text-align: center; display: inline-block; margin-bottom: 2px">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="account-login">
        <login-form login_url="{{ login_url }}" register_url="{{ register_url }}">
        </login-form>
    </div>
    <div id="account-register">
        <register-entry register_url="{{ register_url }}">
        </register-entry>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock %}
