{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Todo list{% endblock %}

{% block page_content %}

<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>

{% if session.logged_in %}
<form action="{{ url_for('todo_list.add_item') }}" method="post" class="add-entry">
    <dl>
        <dt>I'm going to :
        <dd><textarea name="title" rows="5" cols="40"></textarea>
        <dd><input type="submit" class="btn btn-success" value="Add">
    </dl>
</form>
{% endif %}


<div class="list-group">
    <tr>
        <th>What to do ?</th>
    </tr>

    {% for item in entries %}
    <p>
        <class container>
            <li class="list-group-item"> {{item.title}}</li>

            <form action="{{url_for('todo_list.del_item', id=item.id)}}" method="post" class="remove-entry">
                <input type="submit" class="btn btn-danger btn-xs" value="delete">
            </form>
        </class>
    </p>
    {% endfor %}

</div>


{% endblock %}
